<%= form_with(model: micropost) do |form| %>
  <% if micropost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-2">
    <%= form.label :content, style: "display: block", class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= form.label :photo, style: "display: block", class: 'form-label' %>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.number_field :user_id %>
  </div>

  <div class="mt-2">
    <%= form.submit 'sub mit', class: 'btn btn-sm btn-outline-success' %>
  </div>
<% end %>
