<div id="<%= dom_id micropost %>">
  <div>
    <%= micropost.content %>
  </div>

  <div>
      <% micropost.photos.each do |photo| %>
        <%= image_tag photo.picture_url, style: 'width: 90%' %>
      <% end %>
  </div>

  <div class="mt-4">
    <small><%= micropost.user.name %> | <%= (micropost.updated_at).strftime('%d.%m.%y %H:%M') %></small>
  </div>

</div>
