<div id="<%= dom_id micropost %>">
  <div>
    <%= micropost.content %>
  </div>

  <div>
      <% micropost.photos.each do |photo| %>
        <%#= image_tag photo.picture_url, style: 'width: 100%' unless photo.picture_url.nil? %>
      <% end %>
  </div>

  <div class="mt-4">
    <small>
      <%= micropost.user.name %> |
      <%= (micropost.updated_at).strftime('%d.%m.%y %H:%M') %> |
      <%= link_to pluralize(micropost.comments.count, 'comment'), micropost_path(id: micropost.id) %>
    </small>
  </div>

</div>
