<div id="<%= dom_id micropost %>">
  <div>
    <%= simple_format micropost.content %>
  </div>

  <div>
    puts '* * * * * * *'
    <%#= micropost.inspect %>
    <br>
    <br>
    <% unless micropost.photos.present? %>
      <%= micropost.photos.inspect %>
    <% end %>
    <br>

  </div>
  <div>
    <% unless micropost.photos.present? %>
      <% micropost.photos.each do |photo| %>
        <div class="mt-3 m-1 text-secondary"></div>
        <%= photo.picture_url.nil? %>
        <% if photo.picture_url.nil? %>
          <small>[Pictures will be back soon as possible]</small>
        <% else %>
          <%= image_tag photo.picture_url, style: 'width: 100%' unless photo.picture_url.nil? %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <small>
      <%= micropost.user.name %> |
      <%= (micropost.updated_at).strftime('%d.%m.%y %H:%M') %> |
      <%= link_to pluralize(micropost.comments.count, 'comment'), micropost_path(id: micropost.id) %>
    </small>
  </div>

</div>
