<p style="color: green"><%= notice %></p>
<div class="mb-5">
  <%= link_to "new org", new_micropost_path %>
</div>
<div class="row">
  <div class="col-md-5">
    <div id="microposts">
      <% @microposts.each do |micropost| %>
        <%= render micropost %>
        <hr>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"></div>
  <% if !current_user.nil? %>
    <div class="col-md-4">
      <div class="row mb-2">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <% if !current_user.nil? %>
                <b><%= current_user.name %></b>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="mb-2">
                <b>Galleries</b>
              </div>
              <% @gallery_titles.each do |gallery| %>
                <div class="mb-1">
                  <%= link_to gallery.title, photo_gallery_path(gallery.id) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="apple_pagination mt-3">
  <div class="page-info">
    <%#= page_entries_info @micropost %>
  </div>
  <%= will_paginate @microposts %>
</div>
