<p style="color: green"><%= notice %></p>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <%= render micropost %>
    <p>
      <small><%= link_to "link", micropost %></small>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New micropost", new_micropost_path %>

<div class="apple_pagination">
  <div class="page-info">
    <%#= page_entries_info @micropost %>
  </div>
  <%= will_paginate @microposts %>
</div>
