<p style="color: green"><%= notice %></p>

<%= render @micropost %>

<div>
  <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %> |
  <%= link_to "Back to microposts", microposts_path %>

  <%= button_to "Destroy this micropost", @micropost, method: :delete %>
</div>

<div>
  <%= render @micropost.comments %>
</div>

<div>
  <%= form_with(model: [@micropost, @micropost.comments.build]) do |f| %>
    <div class="form-group">
      <div>
        <%= f.label 'New comment' %>
      </div>
      <div>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
    </div>
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
