<div id="<%= dom_id photo_gallery %>">
  <div>
    <strong>Title:</strong>
    <%= photo_gallery.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= photo_gallery.description %>
  </div>

  <div class="row">

    <% photo_gallery.photos.each do |photo| %>
      <div class="col-md-4">
        <div>
          <% if !photo_gallery.photos.nil? %>
            <%= image_tag photo.picture_url, style: 'width:90%' %>
          <% end %>
        </div>
        <div>
          <%= link_to 'show', '/photos/show/' + photo.id.to_s %>
        </div>
      </div>
    <% end %>

  </div>

  <div>
    <strong>Last updated by:</strong>
    <%= photo_gallery.last_updated_by_id %>
  </div>

</div>
