<p style="color: green"><%= notice %></p>

<%= render @photo_gallery %>

<div>
  <%= link_to "Edit this photo gallery", edit_photo_gallery_path(@photo_gallery) %> |
  <%= link_to "Back to photo galleries", photo_galleries_path %>

  <%= button_to "Destroy this photo gallery", @photo_gallery, method: :delete %>
</div>
