<!DOCTYPE html>
<html>
<head>
  <title>ReallyNewOrg</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="wrapper">
  <%= render 'shared/nav_left' %>

  <div class="main">
    <%= render 'shared/nav_top' %>

    <main class="content">
      <div class="container-fluid p-0">
        <%= yield %>
      </div>
    </main>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row text-muted">
          <div class="col-6 text-start">
            <p class="mb-0">
              <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin Template</strong></a>								&copy;
            </p>
          </div>
          <div class="col-6 text-end">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  let sidebar = document.getElementById("sidebar");
  if (window.innerWidth > 1020) {
      sidebar.classList.add("show");
  } else if (window.innerWidth < 1020) {
      sidebar.classList.remove("show");
  }
  window.addEventListener("resize", () => {
      if (window.innerWidth > 1020) {
          sidebar.classList.add("show");
      } else if (window.innerWidth < 1020) {
          sidebar.classList.remove("show");
      }
  });
</script>

</body>
</html>
